.container{
    display: flex;
    width: 90%;
    margin: auto;
    height: auto;


}

.bottom-left {
    position: absolute;
    bottom: 35px;
    left: 150px;
}
  
  /* Top left text */
.top-left {
    position: absolute;
    top: 35px;
    left: 150px;
}
  
  /* Top right text */
.top-right {
    position: absolute;
    top: 35px;
    right: 100px;
}
  
  /* Bottom right text */
.bottom-right {
    position: absolute;
    bottom: 35px;
    right: 65px;
}
  
  /* Centered text */
.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.fit {
    max-width: 100%;
    max-width: 100%;
}

a{
    font-family: "ff-folk-rough", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 50px;
    color: grey;
    text-decoration: none;
}

#prev{
    text-align: right;
    width: 10%;
    border: 3px solid black;
}

#next{
    width: 10%;
    border: 3px solid black;
}

#left-page{
    width: 40%;
    border: 3px solid black;
}

#right-page{
    width: 40%;
    border: 3px solid black;
}

